  body {
   background-color: #CDF0EA;
  }
  h1 {
    background-color: #06113C;
    border-style: double;
    color: #F8CB2E;
  }
  hr {
    border-style: dotted;
    border-color: grey;
    border-width: 3px;
    border-radius: 10px;
  }

  label{
    color: #1A3C40;
  }

  h2{
    color: #1A3C40;
  }

.FeedbackFormDropdown {
  background-color: #CDF0EA;
  border-style: double;
  border-width: 2px;
}

.InputLabels{
  background-color: #CDF0EA;
  border-style: double;
  text-align: center;
}

.FeedbackBox{
  background-color: #CDF0EA;
  border-style: double;
  border-width: 2px;
}

.Button{
  background-color:  #F8CB2E;
}
